.logoImage, .logoImage img{
   width: 38px;
  height: 38px;
}

.appbar {
  background-color:#141414;
   height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}